@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-light: #F9F9FB;
    --color-primary: #01355A;
    --color-primary-dark: #01303E;
    --color-accent: #01F1EB;
    --color-secondary: #267090;
  }
}

/* Base Styles */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: var(--font-sans);
  background: var(--color-light);
  color: var(--color-primary-dark);
}

a {
  color: inherit;
  text-decoration: none;
}

/* Smooth Scrolling */
html {
  scroll-behavior: smooth;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--color-light);
}

::-webkit-scrollbar-thumb {
  background: var(--color-secondary);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary);
}
